.page-posts {
    main{
        display: flex;
        flex-direction: row;
        background-color: #FFFCEF;
    }
    header{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       box-shadow: 1px 1px 30px 10px #ECEAE0;
       background-color: white;
    }
    
    .esquerda-he{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 5em;
        margin-top: 1em;
        margin-bottom: 2em;
    }
    
    .esquerda-he h4{
        margin-top: 2.5em;
        margin-left: 1em;
        font-family: r1;
        font-size: 1.7em;
        color: #8E8E8E;
    }
    .link{
        font-family: PT ;
        font-size: 1.7em;
        color: #8E8E8E;
        text-decoration: none;
    }
    .direita-he{
        margin-top: 5em;
        margin-right: 3em;
    }
    
    .faixa1{
        display:flex;
        flex-direction: row;
    }
    
    .esquerda{
        display: flex;
        flex-direction: column;
        margin-left: 10em;
        margin-top: 4em;
    }
    
    .esquerda h1{
        font-family: pt;
        font-size: 3em;
        margin-left: 3em;
        margin-bottom: 2em;
    }
    
    .import{
        box-shadow: 1px 1px 30px 10px #ECEAE0;
        background-repeat: no-repeat;
        background-color: #F1C40F;
        background-position: 1em 2.5em;
        height: 15vh;
        width: 40vh;
        border-radius: 1em;
        font-family: p1;
        margin-bottom: 5em;
    }
    
    .import h2{
        margin-left: 4em;
        margin-top: 1.5em;
        font-size: 2em;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        background-color: #c4c4c4;
        width: 110%;
        line-height: 5em;
        font-family: p1;
        padding: 30px;
        border-radius: 2em;
        box-shadow: 1px 1px 30px 10px #ECEAE0;
    }
    .post2{
        display: flex;
        flex-direction: column;
        margin-left: 25em;
        box-shadow: 1px 1px 30px 10px #ECEAE0;
        height: fit-content;
        border-radius: 1.4em;
        margin-bottom: 3em;
    }
    
    .carol{
        background-color: #F1C40F;
        width: 500px;
        padding-top: 14px;
        padding-bottom: 10px ;
        border-radius: 1.4em 1.4em 0em 0em ;
    }
    .carol h1{
        font-family: pt;
        font-size: 2.3em;
        color: #6D5D22;  
        margin-left: 1em;
        margin-bottom: 0;
    }
    
    .info-1{
        display: flex;
        background-color: #fff;
    }
    .info-1 h1{
        font-size: 2em;
        font-family: pt;
        color: #565656;
        margin-left: 1em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0em 0em 1.4em 1.4em ;
    }
    
    .esq-1{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
    
        font-family: pt;
        font-size: 2em;
        color: #565656;
    }
    
    .dir-1{
        font-family: pt;
        font-size: 2em;
        color: #565656;
        margin-right: 1em;
    }
    .dir-1 p{
        margin-right: -3em;
    }
    
    .foto-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 1.5em;
        margin-left: -0.2em;
        margin-top: -1.5em;
    }
    
    .quadrado{
        min-width: 30px;
        min-height: 30px;
        margin-right: 10px;
        margin-top: 0.6em;
    }
    
    .info-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 1.5em;
        margin-left: -0.2em;
        margin-top: 0.7em;
    }
    
    .input{
        font-family: pt;
        color: #565656;
        font-size: 0.7em;
    }
    
    .titulo{
        font-family: p1;
        font-size: 3em;
        margin-left: 11.2em;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
}

.senha{
    border: none;
    margin-bottom: em;
    margin-top: 1em;
    border-radius: 10px;
        height: 15px;
        width: 90%;
        outline: none;
        padding: 14px 30px;
        border: #908787;
        cursor: pointer;
        margin-left: em;
        font-family: r1;
        font-size:1em;
        margin-bottom: 5em;
    
}
.senha::placeholder{
    font-family: r1;
    color: #000;
}