.page-feed {
    main{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 243, 197, 0.27);;
    }
    header{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       box-shadow: 1px 1px 30px 10px #ECEAE0;
       background-color: white;
       height: 17vh;
    }
    
    header link {
        margin: 0em 2em;
    }

    .esquerda-he{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 5em;
        margin-top: 1em;
        
        margin-bottom: 2em;
    }
    
    .esquerda-he h4{
        margin-top: 2.5em;
        margin-left: 1em;
        font-family: r1;
        font-size: 1.7em;
        color: #8E8E8E;
    }
    .link{
        font-family: PT ;
        font-size: 1.7em;
        color: #8E8E8E;
        text-decoration: none;
    }
    .direita-he{
        margin-top: 5em;
        margin-right: 3em;
    }
    
    .faixa-1{
        display: flex;
        flex-direction: row;
        margin-top: 8em;
        height: 100vh;
    }
    .post1{
        display: flex;
        flex-direction: column;
        margin-left: 15em;
        box-shadow: 1px 1px 30px 10px #ECEAE0;
        width: 350px;
        height: fit-content;
        border-radius: 1.4em;
    }
    
    .carol{
        background-color: #F1C40F;
        width: 350px;
        height: 40px;
        padding-top: 14px;
        padding-bottom: 10px ;
        border-radius: 1.4em 1.4em 0em 0em ;
        display: flex;
        align-items: center;
    }

    .carol h1{
        font-family: pt;
        font-size: 1.5em;
        color: #6D5D22;  
        margin-left: 1em;
        margin-bottom: 0;
    }
    
    .info-1{
        display: flex;
        background-color: #fff;
    }
    .info-1 h1{
        font-size: 2em;
        font-family: pt;
        text-align: center;
        color: #565656;
        margin: 0em 1em;
        margin-top: 0.4em;
        margin-bottom: 0.4em;
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0em 0em 1.4em 1.4em;
    }
    
    .esq-1{
        display: flex;
        flex-direction: column;
        margin-left: 1em;
        margin-top: -16px;
        font-family: pt;
        font-size: 1.2em;
        color: #565656;
    }

    
    
    .dir-1{
        font-family: pt;
        font-size: 1.2em;
        color: #565656;
        margin-right: 1em;
        height: 1em;
    }
    .dir-1 p{
        margin-right: 0em;
        margin-top: 2px;
    }
    
    .foto-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 1.5em;
        margin-left: -0.2em;
        margin-top: -1.5em;
    }
    
    .quadrado{
        min-width: 30px;
        min-height: 30px;
        margin-right: 10px;
        margin-top: 0em;
    }
    
    .info-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 1.5em;
        margin-left: -0.2em;
        margin-top: 0.7em;
    }
    
    .input{
        font-family: pt;
        color: #565656;
        font-size: 0.7em;
    }
    .post2{
        display: flex;
        flex-direction: column;
        margin-left: 25em;
        width: 350px;
        box-shadow: 1px 1px 30px 10px #ECEAE0;
        height: fit-content;
        border-radius: 1.4em;
    }
    
    .faixa-2{
        display: flex;
        flex-direction: row;
        margin-top: 10em;
    }
}