    @import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
.page-feed {
    main{
        display: flex;
        flex-direction: column;
        background-color: rgba(255, 243, 197, 0.27);;
        height: 100vh;
    }
    .feed{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    header{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        align-items: center;
    }
    
    header link {
        margin: 0vh 2vw;
    }

    .esquerda-he{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 3vw;
        margin-top: 1vh;
        margin-bottom: 2vh;
        height: 9vh;
    }
    
    .esquerda-he h4{
        margin-top: 3.5vh;
        margin-left: 0.5vw;
        font-family: r1;
        font-size: 2.5vh;
        color: #8E8E8E;
    }
    .login-gerenciar {
        margin-right: vw;
        background-color: #fff;
        width: 10vw;
        height: 5vh;
        border: none;
        border-radius: 7vh;
        color: #8E8E8E;
    }
    .link{
        font-family: PT ;
        font-size: 2.5vh;
        text-decoration: none;
    }
    .ooi{
        margin-top: 1em;
    }
    .teste{
        width: 23em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    .direita-he{
        margin-top: 3vh;
        margin-right: 10vh;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 6vw;
        background-color: #fff;
        transition: background 1s;
        transition: color 0.6s;
        border-radius: 7px; 
        margin-right: 8vh;
        margin-top: 3vh;
        padding: 1.5vh;
        border: none;
        cursor: pointer;
        padding: vh;
        color: #8E8E8E;
    }
    .login-gerenciar:focus, .login-gerenciar:hover{
        
        background-color:#e4e3da ;
        color: #4e4e4e;
        transform: translateX(0.1px) scale(1.05);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        cursor: pointer;
    }
    
    .faixa-1{
        display: flex;
        flex-direction: row;
        margin-top: 10vh;
        height: 100vh;
    }
    .imgn {
        height: 30vh;
        width: 23vw;
    }
    .post1{
        display: flex;
        flex-direction: column;
        margin-left: 15vw;
        width: 35vw;
        margin-top: 5em;
        height: fit-content;
        border-radius: 1.4vh;
        filter: drop-shadow(0vh 10vh 10vh #00000040);
    }
    
    .carol{
        background-color: #F1C40F;
        width: 40.9vh;
        height: 5vh;
        padding-bottom: 3vh ;
        border-radius: 1.4vh 1.4vh 0vh 0vh ;
        display: flex;
        align-items: center;
    }

    .carol h1{
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 3vh;
        color: #6D5D22;  
        margin-left: 1vw;
        margin-bottom: 0;
    }
    
    .info-1{
        display: flex;
        background-color: rgb(255, 255, 255);
        margin-top: -1vh;
        width: 23vw;
    }
    .info-1 h1{
        font-size: 3vh;
        font-family: 'PT Sans Caption', sans-serif;
        text-align: center;
        color: #565656;
        margin: 0vh 1vw;
        margin-top: 1vh;
        margin-bottom: 0.4vh;
        width: 23vw;
    }
    .infos{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: rgb(255, 255, 255);
        border-radius: 0vh 0vh 1.4vh 1.4vh;
        width: 23vw;
    }
    
    .esq-1{
        display: flex;
        flex-direction: column;
        margin-left: 1vw;
        margin-top: 1vh;
        font-family:'PT Sans Caption', sans-serif;
        font-size: 3vh;
        color: #565656;
    }

    
    .dir-1{
        font-family:'PT Sans Caption', sans-serif;
        font-size: 3vh;
        color: #565656;
        margin-right: 1vh;
        height: 1vh;
        margin-top: 4vh;
    }
    .dir-1 p{
        margin-right: 0vw;
        margin-top: 0.5vh;
    }
    
    .foto-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 5vh;
        margin-top: -8vh;
    }
    
    .quadrado{
        min-width: 5vh;
        min-height: 4vh;
        margin-left: 10em;
    }    
    .info-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 4vh;
        margin-top: 10vh;
        margin-left: -24vw;
    }
    
    .input{
        font-family: pt;
        color: #565656;
        font-size: 3vh;
        margin-right: 1vw;
    }
    .post2{
        display: flex;
        flex-direction: column;
        margin-left: 25vh;
        width: 50vw;
        height: fit-content;
        border-radius: 7vh;
        filter: drop-shadow(0vh 10vh 10vh #00000040);   
    }
    
    .faixa-2{
        display: flex;
        flex-direction: row;
        margin-top: 10vh;
    }

    @media (max-width: 1280px) {
        header{
            height: 10vh;
            margin-bottom: 0px;
        }
    
        .esquerda-he{
            width: auto;
            margin-left: 3vw;
            margin-top: 1vh;
            margin-bottom: 2vh;
            height: 6vh;
        }
        
        .esquerda-he h4{
            margin-top: 2.5vh;
            margin-left: 0.5vw;
            font-size: 2vh;
        }
        .login-gerenciar {
            width: 9vw;
            height: 3vh;
            border-radius: 7vh;
            margin-top: -5vh;
        }
        .direita-he{
            margin-right: 5vh;
        }
        
        .faixa-1{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: -1em;
            height: 100vh;
        }
        .imgn {
            height: 30vh;
            width: 28.7vw;
        }
        .post1{
            margin-left: 5vw;
            margin-right: 50vh;
            width: 5vw;
            height: fit-content;
            border-radius: 1.4vh;
        }
        
        .carol{
            width: 40vh;
            height: 3vh;
            padding-bottom: 3vh ;
            border-radius: 1.4vh 1.4vh 0vh 0vh ;
        }
    
        .carol h1{
            font-size: 3vh;
            margin-left: 1vw;
        }
        
        .info-1{
            width: 28.7vw;
            margin-top: -1vh;
        }
        .info-1 h1{
            font-size: 3vh;
            margin: 0vh 1vw;
            margin-top: 1vh;
            margin-bottom: 0.4vh;
            width: 23vw;
        }
        .infos{
            width: 28.7vw;
            border-radius: 0vh 0vh 1.4vh 1.4vh ;
        }
        
        .esq-1{
            margin-left: 1vw;
            margin-top: 1vh;
            font-size: 3vh;
        }
    
        
        .dir-1{
            font-size: 3vh;
            margin-right: 1vh;
            height: 1vh;
            margin-top: 4vh;
        }
        .dir-1 p{
            margin-right: 0vw;
            margin-top: 0.5vh;
        }
        
        .foto-1{
            margin-top: -8vh;
        }
        
        .quadrado{
            min-width: 5vh;
            min-height: 4vh;
            margin-left: -5.90vw;
            margin-top: 6vh;
        }
        
        .info-2{
            font-size: 4vh;
            margin-top: 3.5vh;
            margin-left: -10vw;
        }
        
        .input{
            font-size: 3vh;
            font-family: 'PT Sans Caption', sans-serif;
            margin-top: 8vh;
        }
        .post2{
            margin-left: 25vh;
            width: 50vw;
            height: fit-content;
            border-radius: 7vh;
        }
        
        .faixa-2{
            margin-top: 10vh;
        }
    }
    @media (max-width: 414px){
        main{
            display: flex;
            flex-direction: column;
        }
        .faixa-1{
            display: flex;
            flex-direction: column;
        }
        header{
            width: 100%;
            height: 10vh;
            align-items: center;
        }
        .esquerda-he{
            margin-top: 1em;
        }
        .esquerda-he h4{
            opacity: 0;
        }
        .login-gerenciar{
            width: 100px;
        }
        .direita-he{
            margin-top: 1em;
        }
        .feed{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .post1{
            display: flex;
            flex-direction: column;
            margin-left: -5em;
            margin-top: 0;
        }
        .carol{
            background-color: #F1C40F;
            width: 25vh;
            height: 2vh;
            padding-bottom: 3vh ;
            border-radius: 1.4vh 1.4vh 0vh 0vh ;
            display: flex;
            align-items: center;
        }
        .imgn {
            height: 30vh;
            width: 54.3vw;
        }

        .info-1{
            display: flex;
            background-color: rgb(255, 255, 255);
            margin-top: -1vh;
            width: 54.3vw;
        }
        .info-1 h1{
            font-size: 3vh;
            font-family: 'PT Sans Caption', sans-serif;
            text-align: center;
            color: #565656;
            margin: 0vh 1vw;
            margin-top: 1vh;
            margin-bottom: 0.4vh;
            width: 54.3vw;
        }
        .infos{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: rgb(255, 255, 255);
            border-radius: 0vh 0vh 1.4vh 1.4vh;
            width: 54.3vw;
        }
        .esq-1{
            display: flex;
            flex-direction: column;
            margin-left: 1vw;
            margin-top: 1vh;
            font-family:'PT Sans Caption', sans-serif;
            font-size: 2vh;
            color: #565656;
        }
        .foto-1{
            display: flex;
            flex-direction: row;
            align-items: center;
            color: black;
            font-size: 4vh;
            margin-top: -5vh;
            width: 23vh;
        }
        .dir-1{
            display: flex;
            flex-direction: column;
            margin-left: -15vw;
            margin-top: 3vh;
            font-family:'PT Sans Caption', sans-serif;
            font-size: 2vh;
            color: #565656;
        }
        .info-2{
            margin-top: -0.5em;
            margin-left: -0.5em;
        }
        .quadrado{
            min-width: 3vh;
            min-height:3vh;
            margin-left: -10em;
        }
        .input{
            font-size: 0.5em;
        }
        main{
            height: 100vh;
        }


    }
}