@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
.page-lp {


    .header-feed {
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        align-items: center;
    }

    .div1-feed {
        display: flex;
        flex-direction: row;
    }

    .div2-feed {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 6vw;
        background-color: #fff;
        transition: background 1s;
        transition: color 0.6s;
        border-radius: 7px; 
        margin-right: 8vh;
        margin-top: 3vh;
        padding: 1.5vh;
        border: none;
        cursor: pointer;
        padding: vh;
        color: #8E8E8E;
    }

    .div2-feed:hover, .div2-feed:focus{
        background-color:#e4e3da ;
        color: #4e4e4e;
        transform: translateX(0.1px) scale(1.05);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        
    }

    .img1-feed {
        margin-left: 3vw;
        height: 9vh;
    }

    .p1-feed {
        font-family: 'Sahitya';
        color:  #8E8E8E;
        font-size: 2.5vh;
        margin-top: 4vh;
    }

    .p2-feed {
        font-size: 2.5vh;
        background-color: none;
        text-decoration: none;
        color: #000000;
    }

    .faixa1 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        height: 90vh;
        background-color: #000000;
        background-image: url('./dog.png');
        background-attachment: fixed;
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }

    .faixa1 h1 {
        font-family: 'Palanquin Dark', sans-serif;
        font-size: 7vh;
        width: 39vw;
        color: #ffffff;
    }

    .faixa1 a {

        font-weight: 700;
        font-size: 5vh;
        background-color: #D1A800;
        text-decoration: none;
        color: #000000;
        padding: 1.5vh 1.5vw;
        border-radius: 7vh;
        margin-top: 1vh;
        margin-right: 17vw;
        color: #ffffff;
    }

    

    .faixa2 {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: #e6e6e6;
    }

    .faixa2 div {
        margin: 100vh 7vw;
    }

    .f2-title-img h1 {
        font-family: 'Palanquin Dark';
        font-size: 5vh;
        font-weight: 700;
        margin-bottom: 4vh;
    }

    .f2-txt {
        width: 30vw;
        font-size: 3vh;
    }

    .f2-txt p {
        margin: 3vh 0vw;
    }

    span {
        font-weight: 700;
    }

    .faixa3 {
        background-color: #E1DEDE;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .faixa3 div {
        margin: 0vh 8vw;
    }

    .f3-text {
        font-size: 5vh;
        width: 30vw;
    }

    .f3-text h1 {
        font-family: 'Palanquin Dark';
        font-size: 5.5vh;
    }

    .f3-text p {
        font-size: 3vh;
    }

    .faixa4 {
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e6e6e6;
    }

    .f4-title h1 {
        font-family: 'Palanquin Dark';
        font-size: 5vh;
        text-align: center;
        width: 50vw;
        margin-top: 5vh;
    }

    .f4-steps {
        display: flex;
        justify-content: space-between;
        width: 65vw;
        margin-top: 10vh;
    }

    .f4-steps p {
        width: 30vh;
        text-align: center;
    }

    .f4-cadastre {
        margin-top:9vh;
    }

    .f4-cadastre h1 {
        font-family: 'Palanquin Dark';
        font-size: 5vh;
    }

    .f4-cadastre a {
        font-family: 'Palanquin Dark';
        color: #D1A800;
        text-decoration: underline;
    }

    footer {
        background-color: #23272A;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 20vh;
        padding: 0em 2em;
    }

    footer p {
        color: #ffffff;
    }

    .div1-footer {
        display: flex;
        align-items: center;
    }

    .f-text p {
        font-size: 2.5vh;
        margin: 1vh 5vw;
    }
    .casinha-footer {
        height: 10vh;
        margin-left: 3vw;
    }


    @media (max-width: 480px) {

        .header-feed {
            align-items: center;
            height: 80px;
            justify-content: space-between;
        }

        .img1-feed {
            height: 60px;

        }

        .p1-feed {
            display: none;
        }

        .p2-feed {
            margin-bottom: 1em;
            font-size: 20px;
        }

        .faixa1 {
            height: 60vh;
            background-size: 150% 100%;

            align-items: flex-start;
        }

        .faixa1 h1 {
            font-size: 1.5em;
            margin-top: -3em;
            margin-left: 0.5em;
            line-height: 1.5em;
            width: 9em;
            opacity: 1 !important;
        }

        .faixa1 a {
            font-weight: 700;
            font-size: 1em;
            background-color: #F1C40F;
            text-decoration: none;
            color: #000000;
            padding: 10px 20px;
            border-radius: 30px;
            margin-top: 1em;
            margin-left: 0.5em;
        }

        .faixa2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-size: 100% 100%;
            padding: 0em 0em;
            background-color: #e6e6e6;
        }

        .f2-title-img {
            margin-top: 0em;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .f2-title-img h1 {
            font-family: 'Palanquin Dark';
            font-size: 25px;
            font-weight: 700;
            margin-bottom: 1em;
            width: fit-content;
        }

        .f2-title-img img {
            height: 200px;
        }

        .f2-txt {
            width: 309px;
            font-size: 13px;
        }

        .f2-txt p {
            margin: 1em 0em;
        }

        span {
            font-weight: 700;
        }

        .faixa3 {
            background-color: #E1DEDE;
            display: flex;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            background-size: 100% 100%;
            height: 90vh;
            padding: 0em 5em;
        }

        .f3-text {
            width: 306px;
            margin-bottom: 2em;
        }

        .f3-text h1 {
            font-family: 'Palanquin Dark';
            font-size: 25px;
            text-align: center;
            margin-bottom: 0.5em;
        }

        .f3-text p {
            font-size: 13px;
        }

        .f3-img img {
            height: 200px;
            margin-top: 1em;
            margin-bottom: 2em;
        }

        .faixa4 {
            height: 120vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-size: 100% 100%;
        }

        .f4-title h1 {
            font-family: 'Palanquin Dark';
            font-size: 20px;
            text-align: center;
            width: 300px;

            margin-top: 1em;
        }

        .f4-steps {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 0em;
        }

        .f4-steps div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .f4-steps p {
            font-size: 13px;
            width: 174px;

            text-align: center;
        }

        .f4-steps img {
            height: 100px;
            width: 100px;
        }

        .f4-cadastre {
            margin-top: 2em;
        }

        .f4-cadastre h1 {
            text-align: center;
            font-family: 'Palanquin Dark';
            font-size: 20px;

            width: 300px;
        }

        .f4-cadastre a {
            font-family: 'Palanquin Dark';
            color: #F1C40F;
            text-decoration: underline;
        }

        footer {
            background-color: #23272A;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 30vh;
            padding: 0em 2em;
            background-size: 100% 100%;
        }

        footer img {
            height: 60px;
        }

        footer p {
            color: #ffffff;
        }

        .div1-footer {
            display: flex;
            align-items: center;
        }

        .f-text p {
            font-size: 13px;
            margin: 10px 0px;
        }
    }
    @media (max-width: 1280px) {
        .header-feed {
            height: 6vh;
        }
        .div2-feed {
            width: 6vw;
            height: 4vh;
            border-radius: 3vh; 
            margin-right: 8vh;
            margin-top: 1vh;
            padding: 1vh;
        }
        .img1-feed {
            margin-left: 3vw;
            height: 6vh;
        }
        .p1-feed {
            font-size: 1.5vh;
            margin-top: 3vh;
        }
        .faixa1 {
            height: 80vh;
            background-size: 100% 100%;
            background-repeat: no-repeat;
        }
        .faixa1 h1 {
            font-size: 3vh;
            width: 45vw;
        }
        .faixa1 a {
            font-weight: 700;
            font-size: 1.5vh;
            padding: 1.5vh 1.5vw;
            border-radius: 7vh;
            margin-top: 1vh;
            margin-right: 35vw;
        }
        .faixa2 {
            height: 75vh;
        }
        .faixa2 div {
            margin: 7vw;
        }
        .f2-title-img h1 {
            font-size: 3vh;
            font-weight: 700;
            margin-bottom: 4vh;
        }
        .f2-txt {
            width: 300vw;
            font-size: 2.3vh;
        }
        .f2-txt p {
            margin: 2vh;
        }
        span {
            font-weight: 700;
        }
        .faixa3 {
            height: 75vh;
        }
        .faixa3 div {
            margin: 7vw;
        }
    
        .f3-text {
            font-size: 3vh;
            width: 300vw;
        }
    
        .f3-text h1 {
            font-size: 3vh;
        }
    
        .f3-text p {
            font-size: 2.3vh;
        }
    
        .faixa4 {
            height: 75vh;
        }
    
        .f4-title h1 {
            font-size: 3vh;
            width: 50vw;
            margin-top: 5vh;
        }
    
        .f4-steps {
            width: 57vw;
            margin-top: 7vh;
        }
    
        .f4-steps p {
            width: 30vh;
            margin-left: -5vh;
        }
    
        .f4-cadastre {
            margin-top: 7vh;
        }
    
        .f4-cadastre h1 {
            font-size: 3vh;
        }
    
        footer {
            height: 15vh;
            padding: 0em 2em;
        }
    
        .f-text p {
            font-size: 1.5vh;
            margin: 1vh 7vw;
        }
        .casinha-footer {
            height: 7vh;
            margin-left: 3vw;
        }
    }
}