.page-cadastro {

        display: flex;
        flex-direction: row;
        height: 100vh;
    
    .sec-1 {
        background-color: #ffffff;
        height: 100vh;
        width: 107vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .sec-2 {
        background-color: #9E9A96;
        height: 100vh;
        width: 110vw;       
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .logo-sec1 {
        width: 20vh;
        margin-top: 5vh;
        margin-left: 2.5vh;
    }
    
    .h1-sec1 {
        font-size: 4vh;
        margin-top: 2.2vh;
        text-align: center;
        margin-left: 2.5vh;
    }
    
    .img-cat {
        margin-top: 3vh;
        height: 90vh;
    }
    
    .div-cadastro {
        height: 8vh;
        width: 80vh;
        background-color: #ffffff;
        margin-top: 5vh;
        border-radius: 7vh;
        display: flex;
        flex-direction: row;
    }
    
    .h1-divs {
        margin-top: 10vh;
        font-size: 5vh;
    }
    
    .mail {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .male {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .key {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .calendario {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    .map-marker {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }

    .telefone {
        height: 5vh;
        margin-top: 1vh;
        margin-left: 1vh;
    }
    
    .input-cadastro {
        border-radius: 7vh;
        height: 1.5vh;
        width: 25vw;
        outline: none;
        padding: 2vh 3vw;
        border: #908787;
        cursor: auto;
        font-family: 'Palanquin Dark', sans-serif;
        font-size:2vh;
        margin-bottom: 2vh;
        color: #908787;
    }

    
    .div-cadastro2 {
        height: 8vh;
        width: 80vh;
        background-color: #ffffff;
        margin-top: 2vh;
        border-radius: 7vh;
        display: flex;
        flex-direction: row;
    }
    
    .bot-cadastrar {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
        height: 3vh;
        width: 9vw;
        border-style: none;
        border-radius: 7vh;
        padding: 1.5vh;
        background-color: #ffffff;
        text-decoration: none;
    }
    
    .entrar-cad {
        margin-top: 5vh;
    }
    
    @media (max-width: 1280px) {
    
    .sec-1 {
        height: 100vh;
        width: 70vh;
    }
    
    .sec-2 {
        height: 100vh;
        width: 50vw;
    }
    
    .logo-sec1 {
        width: 13vh;
        margin-top: 15vh;
        margin-left: 2.5vh;
    }
    
    .h1-sec1 {
        font-size: 4vh;
        margin-top: 4vh;
        margin-left: 2vh;
    }
    
    .img-cat {
        margin-top: 4.5vh;
        height: 50vh;
    }
    
    .h1-divs {
        margin-top: 10vh;
        font-size: 3vh;
    }
    
    .mail {
        height: 4vh;
    }
    .male {
        height: 4vh;
        margin-left: -0.1vw;
    }
    .key {
        height: 4vh;
    }
    .calendario {
        height: 4vh;
        margin-left: 1vw;
    }
    .map-marker {
        height: 4vh;
        margin-left: -0.1vw;
    }

    .telefone {
        height: 4vh;
    }
    
    .input-cadastro {
        width: 53vh;
        border-radius: 7vh;
    }
    
    .div-cadastro2 {
        height: 5vh;
        width: 60vh;
        margin-top: 2vh;
        border-radius: 7vh;
    }
    
    .entrar-cad {
        margin-top: 5vh;
    }
    }
    @media (max-width: 414px){
        main{ 
            display: flex;
            flex-direction: column;
        }
        .oii{
            display: flex;
            flex-direction: column;
        }
        .sec-1 {
            height: 90vh;
            width: 43vh;
        }
        
        .sec-2 {
            height: 100vh;
            width: 100vw;            
        }
        
        .logo-sec1 {
            width: 10vh;
            margin-top: 7vh;
            margin-left: 4vh;
        }
        
        .h1-sec1 {
            font-size: 3vh;
            margin-top: 4vh;
        }
        
        .img-cat {
            margin-top: 4.5vh;
            margin-left: 9vh;
            height: 30vh;
        }
        
        .h1-divs {
            margin-top: 10vh;
            font-size: 2vh;
        }
        
        .input-cadastro {
            width: 40vh;
            border-radius: 7vh;
            margin-left: 2vh;
        }
        
        .entrar-cad {
            margin-top: 5vh;
        }

        .bot-cadastrar {
            height: 3vh;
            width: 15vw;
        }
    }
}