@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
.page-login {

    height: 100vh;

    * {
        border: solid 0px green;
    }
    
    
    section{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    .logo-casinha {
        width: 12em;
        
    }

    .Esquerda{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url('./Cachorro.png');
        background-repeat: no-repeat;
        background-position: 5vw 54vh;
        background-color: #F6FBFF;
        width: 50%;
    }
    
    .Direita{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #AD7343;
        width: 50%;
    }
    
    .Teste{
        display: flex;
        justify-content: center;
        margin-top: 7em;
    }

    .Esquerda div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .Esquerda p{
        font-family: 'Text Me One', sans-serif;
        font-size: 3em;
        line-height: 4vh;
        width: 50vh;
        text-align: center;
        margin-top: 4.5em;
    }

    .Direita h1{
        font-family: 'Palanquin Dark', sans-serif;
        margin-top: 27vh;
        
        margin-bottom: 7vh;
        font-size: 5vh;
        color: #ffffff;
    }
    .users{
        border-radius: 7vh;
        height: 2vh;
        width: 25vw;
        outline: none;
        padding: 2vh 3vw;
        border: #908787;
        cursor: auto;
        font-family: 'Palanquin Dark', sans-serif;
        font-size:2.5vh;
        margin-bottom: 2vh;
    }
    
    .users::placeholder{
        font-family: 'Palanquin Dark', sans-serif;;
        color: #000;
    }
    
    
    .senha{
        border-radius: 7vh;
        height: 2vh;
        width: 25vw;
        outline: none;
        padding: 2vh 3vw;
        border: #908787;
        cursor: auto;
        font-family: 'Palanquin Dark', sans-serif;
        font-size:2.5vh;
        margin-bottom: 3vh;
    }
    
    .senha::placeholder{
        font-family: 'Palanquin Dark', sans-serif;
        color: #000;
    }
    
    
    
    .bolinha{
        margin-top: 4vh;
        margin-left: 20vh;
        display: flex;
        flex-direction: row;
        width: 30vw;
    }
    .bolinha h6{

        font-family: r1;
        margin-left: 0.5vh;
        font-size: 2vh;
        margin-top: 1vh;

    }
    
    
    .conect{
        display: flex;
        align-items: center;
        margin-left: 45vh;
        margin-top: 3vh;
        background-color: #ffffff;
        width: 13vh;
        height: 0.2vh;
        padding: 3vh;
        border-radius: 7vh;
        font-family: r1;
        font-size: 3vh;
        cursor: pointer;
    }
    
    
    .link{
        margin-left: 1vh;
        font-family: 'Roboto Flex', sans-serif;
        text-decoration: none;
        color: #000;
        background-color: #ffffff;
        width: fit-content;
        height: 3em;
        width: 6em;
        border-radius: 0.7em;
        font-family: 'Palanquin Dark', sans-serif;
        cursor: pointer;
        margin-top: 3em;
    }

    .link:hover{
        background-color: #e4e3da;
    }
    .cad{
        color: blue;
        cursor: pointer;
        text-decoration: none;
    }
    
    .cadastro{
        
        margin-top: 5vh;
        font-family: 'Roboto Flex', sans-serif;
        text-decoration: none;
        color: #000;

    }

    @media (max-width: 1280px) {
    
    .logo-casinha {
        width: 12vh;
        margin-top: 10vh;
    }

    .Esquerda{
        background-position: 0vw 46vh;
    }
    
    
    .Teste{
        margin-top: 7vh;
    }
    
    .Esquerda p{
        font-size: 5vh;
        margin-top: 5vh;
    }

    .Direita h1{
        margin-top: 25vh;
        margin-bottom: 7vh;
        font-size: 3vh;
    }
    .users{
        height: 1vh;
        font-size: 2vh;
    }
    
    .senha{
        height: 1vh;
        font-size: 2vh;
    }    
    
    .link{
        margin-left: 1vh;
        padding: 1vh;
        border-radius: 5vh;
        cursor: pointer;
    }
    }
    @media (max-width: 414px){
        main{
            display: flex;
            flex-direction: column;
        }
        .faixa{
            display: flex;
            flex-direction: column;
        }
        .Esquerda{
            height:50%;
            width: 100%;
        }
        .Direita{
            height: 100%;
            width: 100%;
        }
        .Esquerda p{
            width: 400px;
            font-size: 2em;
        }
        .Direita h1{
            margin-top: 1em;
        }
        .users{
            width: 270px;
        }
        .senha{
            width: 270px;
        }
        .link{
            padding-bottom: 3em;
            width: 7em;
            margin-top: 1em;
        }
    }
    
}