@import url('https://fonts.googleapis.com/css2?family=Text+Me+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100&display=swap');
.page-login {
    
    section{
        display: flex;
        flex-direction: row;
        height: 100vh;
    }
    
    .logo-casinha {
        width: 20vh;
        margin-top: 5vh;
        margin-left: 5vh;
    }

    .Esquerda{
        position: relative;
        display: flex;
        flex-direction: column;
        background-image: url('./Cachorro.png');
        background-repeat: no-repeat;
        background-position: 3vw 15vh;
        background-color: #F6FBFF;
        width: 50%;
    }
    
    .Direita{
        display: flex;
        flex-direction: column;
        background-color: #AD7343;
        width: 50%;
    }
    .Teste{
        position: relative;
        margin-top: 5vh;
        margin-left: 37vh;
    }
    
    .Esquerda p{
        font-family: 'Text Me One', sans-serif;
        font-size: 5vh;
        line-height: 4vh;
        width: 100vh;
        margin-left: 13vh;
        margin-top: 1vh;
    }

    .Direita h1{
        font-family: 'Palanquin Dark', sans-serif;
        margin-top: 15vh;
        margin-left: 27vh;
        margin-bottom: 7vh;
        font-size: 5vh;
        color: #ffffff;
    }
    .users{
        border-radius: 7vh;
        height: 2vh;
        width: 25vw;
        outline: none;
        padding: 2vh 3vw;
        border: #908787;
        cursor: auto;
        margin-left: 20vh;
        font-family: 'Palanquin Dark', sans-serif;
        font-size:2.5vh;
        margin-bottom: 2vh;
    }
    
    .users::placeholder{
        font-family: 'Palanquin Dark', sans-serif;;
        color: #000;
    }
    
    
    .senha{
        border-radius: 7vh;
        height: 2vh;
        width: 25vw;
        outline: none;
        padding: 2vh 3vw;
        border: #908787;
        cursor: auto;
        margin-left: 20vh;
        font-family: 'Palanquin Dark', sans-serif;
        font-size:2.5vh;
        margin-bottom: 3vh;
    }
    
    .senha::placeholder{
        font-family: 'Palanquin Dark', sans-serif;
        color: #000;
    }
    
    
    
    .bolinha{
        margin-top: 4vh;
        margin-left: 20vh;
        display: flex;
        flex-direction: row;
        width: 30vw;
    }
    .bolinha h6{
        font-family: r1;
        margin-left: 0.5vh;
        font-size: 2vh;
        margin-top: 1vh;
    }
    
    
    .conect{
        display: flex;
        align-items: center;
        margin-left: 45vh;
        margin-top: 3vh;
        background-color: #ffffff;
        width: 13vh;
        height: 0.2vh;
        padding: 3vh;
        border-radius: 7vh;
        font-family: r1;
        font-size: 3vh;
        cursor: pointer;
    }
    
    
    .link{
        margin-left: 1vh;
        font-family: p1;
        text-decoration: none;
        color: #000;
    }
    .cad{
        color: blue;
        cursor: pointer;
        text-decoration: none;
    }
    
    .cadastro{
        margin-left: 35vh;
        margin-top: 5vh;
        font-family: 'Roboto Flex', sans-serif;
        text-decoration: none;
        color: #000;

    }
}