@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Caption&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
.page-posts {


    main{
        display: flex;
        flex-direction: row;
        background-color: #FFFCEF;
    }
    header{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        align-items: center;
    }

    .direita{
        width: 40em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }

    .feed-d{
        background-color: #fff;
        width: 10vw;
        height: 5vh;
        border: none;
        border-radius: 7vh;
        color: #8E8E8E;
    }
    .oi{
        margin-right: 5em;
    }

    .feed-d:hover, .feed-d:focus{
        
        background-color:#e4e3da ;
        color: #4e4e4e;
        transform: translateX(0.1px) scale(1.05);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        cursor: pointer;
    }
    .logo-img {
        height: 9vh;
    }
    
    .esquerda-he{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 5vh;
        margin-top: 1vh;
        align-items: center;
    }
    
    .esquerda-he h4{
        margin-top: 4vh;
        font-family: r1;
        font-size: 2.5vh;
        color: #8E8E8E;
    }
    .link{
        font-family: PT ;
        font-size: 2.5vh;
        color: #8E8E8E;
        text-decoration: none;
    }
    .direita-he{
        margin-top: 3vh;
        margin-right: 5vw;
    }
    
    .faixa1{
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        height: 70px;
    }
    
    .esquerda{
        display: flex;
        flex-direction: column;
        margin-top: 4vh;
    }

    
    .esquerda h1{
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 4vh;
        
        margin-bottom: 4vh;
    }
    
    .import{
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        background-repeat: no-repeat;
        background-color: #F1C40F;
        background-position: 1vh 2.5vh;
        height: 10vh;
        width: 30vh;
        border-radius: 1vh;
        font-family: p1;
        margin-bottom: 5vh;
        background-image: url('../../../public/images/arquivo.png');
        background-size: 5vh;
    }
    .import:hover{
        background-color: #ebc119;
        cursor: pointer;
    }
    .import h2{
        margin-left: 8vh;
        margin-top: 3.3vh;
        font-size: 2.5vh;
        font-family: 'PT Sans Caption', sans-serif;
    }
    
    .info{
        display: flex;
        flex-direction: column;
        background-color: #c4c4c4;
        width: 100%;
        height: 1600%;
        
        font-family: p1;
        padding: 3vh;
        border-radius: 0.8vh;
    }

    
    
    .post2{
        display: flex;
        display: block;
        
        flex-direction: column;
        justify-content: center;
        
        width: 25em;
        
        border-radius: 1.4vh;
        filter: drop-shadow(0vh 10vh 10vh #00000040);
    }   
    
    
    .carol{
        background-color: #F1C40F;
        
        height: 5vh;
        padding-bottom: 3vh ;
        border-radius: 1.4vh 1.4vh 0vh 0vh ;
        display: flex;
        align-items: center;
    }
    .carol h1{
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 3vh;
        color: #6D5D22;  
        margin-left: 1vw;
        margin-bottom: 0;
    }
    .img-post{
        height: 15em;
        width: 25em;
        
    }
    
    .info-1{
        display: flex;
        justify-content: center;
        margin-left: em;
        background-color: rgb(255, 255, 255);
        
        margin-top: -0.5vh;
    }
    .info-1 h1{
        font-size: 3vh;
        font-family: 'PT Sans Caption', sans-serif;
        color: #565656;
        margin-left: 0.5vw;
        margin-top: 0.5vh;
    }

    
    .infos{
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 0vh 0vh 1.4vh 1.4vh ;
    }
    
    .esq-1{
        display: flex;
        flex-direction: column;
        margin-left: 1vh;
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 2.5vh;
        color: #565656;
        height: fit-content;
    }
    
    .dir-1{
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 2.5vh;
        color: #565656;
        height: fit-content;
        position: relative;
    }

    .p1 {
        margin-top: 2em;
    }
    
    
    .foto-1{
        
       
        
        display: flex;
        flex-direction: row;
        align-items: center;
        
        color: black;
        font-size: 3vh;
        height: 1em;
        
        margin: none;
    }

    
    
    .quadrado{
        min-width: 5vw;
        min-height: 5vh;
        margin-top: 0.6vh;
    }
    
    .info-2{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: black;
        font-size: 4vh;
        margin-left: 10vw;
        margin-top: 7vh;
    }
    
    .input{
        font-family: pt;
        color: #565656;
        font-size: 3.5vh;
    }
    
    .titulo{
        font-family: 'PT Sans Caption', sans-serif;
        font-size: 4vh;
        margin-top: 7.5vh;
        margin-bottom: 10vh;
    }
    
    .senha{
        border: none;
        background-color: #fff;
        border-radius: 1vh;
        height: 1vh;
        width: 85%;
        outline: none;
        padding: 1.7vh 1vw;
        border: #908787;
        cursor: auto;
        font-family: r1;
        font-size: 2vh;
        margin-bottom: 4vh;
        font-family: 'Palanquin Dark', sans-serif;
        
    }
    .senha::placeholder{
        font-family: 'Palanquin Dark', sans-serif;
        color: #0000006e;
    }
    
    .botao{
        border: none;
        background-color: #D1A800;
        padding: 10px;
        font-size: 1.5em;
        margin-top: 32em;
        margin-left: -8em;
    }

    #imgpet{
        visibility: hidden;
        position: absolute;
    }

    @media (max-width: 1280px) {

        header{
        height: 10vh;
        }

        .feed-d{
            width: 8vw;
            height: 4vh;
            border-radius: 7vh; 
            margin-right: 8vh;
            margin-top: 1vh;
            padding: 1vh;
        }
        .logo-img {
            height: 7vh;
        }
        
        .esquerda-he{
            width: auto;
            margin-left: 5vh;
            margin-top: 1vh;
        }
        
        .esquerda-he h4{
            margin-top: 4vh;
            font-size: 2vh;
        }
        .link{
            font-size: 2vh;
        }
        
        .faixa1{
            height: 70px;
        }
        
        .esquerda h1{
            font-size: 3vh;
            margin-left: 3vh;
            margin-bottom: 5vh;
        }
        
        .import h2{
            margin-left: 8vh;
            margin-top: 3.3vh;
            font-size: 2.5vh;
        }
        
        
        .post2{

            margin-left: 5vw;
            width: 5vw;
            height: fit-content;
            border-radius: 1.4vh;
        }   
        
        .carol{
            width: 32vh;
            height: 3vh;
            padding-bottom: 3vh ;
            border-radius: 1.4vh 1.4vh 0vh 0vh ;
        }
        .carol h1{
            font-size: 3vh;
            margin-left: 1vw;
        }
        .img-post{
            height: 30vh;
            width: 23vw;
        }
        
        .info-1{
            width: 23vw;
        }
        .info-1 h1{
            font-size: 3vh;
            margin-left: 0.5vw;
            margin-top: 0.5vh;
        }
        .infos{
            width: 23vw;
            border-radius: 0vh 0vh 1.4vh 1.4vh ;
        }
        
        .esq-1{
            margin-left: 1vh;
            font-size: 2vh;
        }
        
        .dir-1{
            font-size: 2vh;
            margin-left: 10vh;
        }
        .dir-1 p{
            margin-right: -15vh;
        }
        
        .foto-1{
            font-size: 4vh;
            margin-left: -0.2vw;
            margin-top: 0.5vw;
        }
        
        .quadrado{
            min-width: 5vw;
            min-height: 5vh;
            margin-top: 0.6vh;
        }
        
        .info-2{
            font-size: 4vh;
            margin-left: 10vw;
            margin-top: 7vh;
        }
        
        .input{
            font-size: 3.5vh;
        }
        
        .titulo{
            font-size: 2vh;
            margin-top: 7.5vh;
            margin-bottom: 10vh;
        }
        
        .senha{
            border-radius: 1vh;
            height: 1vh;
            width: 85%;
            padding: 1.7vh 1vw;
            font-size: 2vh;
            margin-bottom: 4vh;
            
        }
        
        .botao{
            padding: 1vh;
            font-size: 1.5em;
            margin-top: 35em;
            margin-left: -8em;
        }
    }
    @media (max-width: 414px){
        header{
            height: 10vh;
            width: 100%;
            align-items: center;
        }
        .esquerda-he{
            margin-left: 1em ;
        }
        .esquerda-he h4{
            position: absolute;
            opacity: 0;
        }
        .dir {
            display: flex;
            flex-direction: row;
            width: 300px;
        }
        .feed-d{
            width: 10vh;
        }
        .oi{
            margin-right: 1em;
        }
        .faixa1{
            display: flex;
        }

        .carol{
            width: 25vh;
        }
        .carol h1{
            font-size: 2.2vh;
        }

        .img-post{
            height: 30vh;
            width: 54.3vw;
        }
        .info-1{
            width: 25vh;
        }
        .infos{
            width: 25vh;
        }
        
        
    }
}