.page-publi{


    header{
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 15vh;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        align-items: center;
    }

    .esquerda-he{
        display: flex;
        flex-direction: row;
        width: auto;
        margin-left: 3vw;
        margin-top: 1vh;
        margin-bottom: 2vh;
        height: 9vh;
    }

    .link{
        text-decoration: none;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 6vw;
        background-color: #fff;
        transition: background 1s;
        transition: color 0.6s;
        border-radius: 7px;
        padding: 1.5vh;
        border: none;
        cursor: pointer;
        padding: vh;
        color: #8E8E8E;
    }

    .link:hover, .link:focus{
        background-color:#e4e3da ;
        color: #4e4e4e;
        transform: translateX(0.1px) scale(1.05);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
    
    .esquerda-he h4{
        margin-top: 3.5vh;
        margin-left: 0.5vw;
        font-family: r1;
        font-size: 2.5vh;
        color: #8E8E8E;
    }
    .direita-he{
        margin-top: 3vh;
        margin-right: 10vh;
    }


    .container {
        margin-left: -6vh;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }



    .conteudo {
        display: flex;
        flex-direction: column;
        
        padding: 20px 60px;
        background-color: #F5F6FA;
        flex-grow: 1;
    }


    .caixa-busca {
        display: flex;
        justify-content: space-between;

        background-color: #fff;
        padding: 20px 40px;
        border-radius: 15px;
        box-shadow: 1px 1px 5px rgb(220, 220, 220);
        width: 40%;
        margin-top: 30px;
    }
    .caixa-busca input {
        background: none;
        border: none;
        padding: 0px;
        width: 100%;
    }
    .caixa-busca img {
        cursor: pointer;
        position: relative;
        right: -15px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 50px;
    }
    th {
        text-align: left;
        color: #000;
        padding: 25px 40px;
        font-size: 14px;
        text-shadow: 0px 1px 4px rgba(217, 217, 217, 0.5);
    }
    thead {
        background-color: #F1C40F;
    }
    td {
        padding: 25px 40px;
        font-weight: 500;
    }
    tbody tr:nth-child(even) {
        background-color: #EDEDED;
    }
    tbody tr:hover {
        background-color: #e1e1e1;
    }
    td img {
        width: 18px;
        cursor: pointer;
    }
    tr td:nth-child(2) {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap; 
        width: 100px;
    }
    tr td:nth-child(1) {
        color: #606060;
        font-weight: 700;
    }
    tr td:nth-last-child(1) * {
        visibility: hidden;
    }
    tr:hover td:nth-last-child(1) img {
        visibility: visible;
    }

}